@import url('https://fonts.googleapis.com/css?family=Lato');

nav ul li{
    color: white;
}

body{
    text-align: center;
    background-color: white;
    color: black;
    font-family: 'Lato', sans-serif;
}

.head{
    margin-top: 50px;
}

.display{
    margin-top:10px;
    width: 100%;
}

.displayItem{
    float: left;
    width: 33.33%;
    padding: 10px; 
}

.displayItem p{
    font-size: 15px;
}

.img{
    float: left;
    height: 200px;
    width: 100%; 
}

#work{
    clear: both;
    margin-top: 50px;
}

.btn{
    margin-bottom:20px;
}

#footer{
    clear: both;
}

@media screen and (max-width:800px){
    .display{
        width: 100%;
    }
    
    .displayItem{
        float: left;
        width: 50%;
    }
}

@media screen and (max-width:600px){
    .display {
        width: 100%;
    }
    
    .displayItem{
        float: left;
        width: 100%;
    }
}