@import url('https://fonts.googleapis.com/css?family=Lato');

nav ul li{
    color: white;
}

body{
    text-align: center;
    font-family: 'Lato', sans-serif;
}

#head{
    margin-top: 50px;
}

#form{
    width: 400px;
    margin: auto;
}

#form label{
    font-weight: bolder;
}

#footer{
    height: 40px;
    background-color: #F8F8F8;
    color: black;
    padding-top: 10px;
}