body{
    text-align: center;
}
#form{
    width: 400px;
    margin: auto;
}

#form label{
    font-weight: bolder;
}

footer{
    height: 40px;
    background-color: #007Bff;
    color: white;
    padding-top: 10px;
}